<% unless user_signed_in? %>
<div id="banner">
	<div id="intro">
		<h1>Light Novel Archives</h1>
		<p>Share, Read and Discuss the latest in Fiction</p>
		<div id="signup">
			<%= link_to "Sign Up", new_user_registration_path  %>
		</div>
	</div>
</div>
<% else %>
	<div class="user-show">
	<h2>Feed</h2>
	<ul>
		<%= render @updates %>
	</ul>
	<div class="paginate"><%= will_paginate @updates, previous_label: "<", next_label: ">" %></div>
	</div>
	<% if current_user.admin? %>
		<h1>Most Bookmark</h1>
	<% Novel.limit(3).each do |novel| %>
	  <p><%= link_to novel.title, novel %></p>
	<% end %>
	<h1>Newest Update</h1>
	<% Chapter.limit(3).each do |chapter| %>
		<p><%= link_to chapter.title, [chapter.novel, chapter] %></p>
	<% end %>
	<% end %>
<% end %>

