<% unless user_signed_in? %>
<div id="banner">
	<div id="intro">
		<h1>Light Novel Archives</h1>
		<p>Share, Read and Discuss the latest in Fiction</p>
		<div id="signup">
			<%= link_to "Sign Up", new_user_registration_path  %>
		</div>
	</div>
</div>
<div id="update-banner">
	<h2>Latest Updated <%= link_to "  »", newest_path %></h2>
	<ul>
	<% @unovel.limit(4).each do |novel| %>
	<li>
		<%= link_to image_tag(novel.picture.url), novel %>
		<h3><%= link_to novel.title, novel %></h3>	
		<% if novel.chapters.any? %>
		<%= link_to "#{novel.chapters.first.title}", [novel, novel.chapters.first] %>
		<% end %>
	</li>
	<% end %>
	</ul>
</div>
<div id="sign-banner">
	<div id="into">
		<h1>Create an account to be able to share your own novels and bookmark others'.</h1>
	</div>
</div>
<div id="update-banner">
	<h2>Most Popular <%= link_to "  »", popular_path %></h2>
	<ul>
	<% Novel.limit(4).each do |novel| %>
	<li>
		<%= link_to image_tag(novel.picture.url), novel %>
		<h3><%= link_to novel.title, novel %></h3>	
	</li>
	<% end %>
	</ul>
</div>
<% else %>
	<div class="user-show">
	<h2>Your Feed</h2>
	<ul>
		<%= render @updates %>
	</ul>
	<div class="paginate"><%= will_paginate @updates, previous_label: "<", next_label: ">" %></div>
	</div>
<% end %>

