<% unless user_signed_in? %>
<div id="banner">
	<div id="intro">
		<h1>Light Novel Archives</h1>
		<p>Share, Read and Discuss the latest in Fiction</p>
		<div id="signup">
			<%= link_to "Sign Up", new_user_registration_path  %>
		</div>
	</div>
</div>
<% else %>
	<div class="user-show">
	<h2>Feed</h2>
	<ul>
	<% @updates = Novel.includes(:chapters).order("chapters.created_at desc") %>
		<% @updates.each do |update| %>
		<li>
			<div class="novel-card">
			<div class="update-pic">
				<div class="card-pic">
				<%= link_to image_tag(update.picture.url), update %>
				</div>

				<div class="card-info">
				<% if update.chapters.any? %>
  				<%= link_to "#{update.title}: #{update.chapters.first.title}", [update, update.chapters.first] %>
  				<p><%= truncate_html update.chapters.first.content, length: 400 %>
    			<% if update.chapters.first.content.length > 400 %>
      		<%= link_to "Read More »", [update, update.chapters.first] %></p>
  			<% end %>
  			<% else %>
  				<%= link_to update.title, update %>
  				<p>No chapters</p>
  			<% end %>
				
  			
  			</div>
  			</div>
			</div>
		</li> 
		<% end %>
	</ul>
	</div>
	<% if current_user.admin? %>
		<h1>Most Bookmark</h1>
	<% Novel.limit(3).each do |novel| %>
	  <p><%= link_to novel.title, novel %></p>
	<% end %>
	<h1>Newest Update</h1>
	<% Chapter.limit(3).each do |chapter| %>
		<p><%= link_to chapter.title, [chapter.novel, chapter] %></p>
	<% end %>
	<% end %>
<% end %>

