<div class="user-show">
<h2>Latest Updated</h2>
<% if @latest.any? %>
	<ul>
		<% @latest.each do |update| %>
		<li>
		  <div class="novel-card">
		  <div class="update-pic">
		    <div class="card-pic">
		    <%= link_to image_tag(update.picture.thumb.url), update %>
		    </div>
		    <div class="card-info">
		    <% if update.chapters.any? %>
		      <%= link_to "#{update.title}: #{update.chapters.first.title}", [update, update.chapters.first] %>
		      <p><%= truncate_html update.summary, length: 400 %>
		      <% if update.summary.length > 400 %>
		      <%= link_to "Read More »", update %></p>
		      <% end %>
		      <h5 class="timestamp">Updated <%= time_ago_in_words(update.updated_at) %>ago</h5>
		    <% else %>
		      <%= link_to update.title, update %>
		      <p><%= truncate_html update.summary, length: 400 %>
		      <% if update.summary.length > 400 %>
		      <%= link_to "Read More »", update %></p>
		      <% end %>
		      <h5 class="timestamp">Created <%= time_ago_in_words(update.created_at) %>ago</h5>
		    <% end %>
		    </div>
		    </div>
		  </div>
		</li> 
		<% end %>
	</ul>
	<div class="paginate"><%= will_paginate @latest, previous_label: "<", next_label: ">" %></div>
<% end %>
</div>
