<div class="user-show">
<h2>Most Popular</h2>
<ul>
	<% @popular.each do |novel| %>
		<li>
			<div class="novel-card">
			<div class="update-pic">
				<div class="card-pic">
				<%= link_to image_tag(novel.picture.thumb.url), novel %>
				</div>
				<div class="card-info">
				<%= link_to novel.title, novel %>
				<p><%= truncate_html novel.summary, length: 400 %>
    			<% if novel.summary.length > 400 %>
      		<%= link_to "Read More »", novel %></p>
				<% end %>
				<% if novel.chapters.any? %>
      			<h5 class="timestamp">Updated <%= time_ago_in_words(novel.updated_at) %>ago</h5>
      		<% else %>
      			<h5 class="timestamp">Created <%= time_ago_in_words(novel.created_at) %>ago</h5>
      		<% end %>
				</div>
				</div>
			</div>
		</li>
	<% end %>
	<div class="paginate"><%= will_paginate @popular, previous_label: "<", next_label: ">" %></div>
	</ul>
	</div>