<% @updates.each do |update| %>
<li>
  <div class="novel-card">
  <div class="update-pic">
    <div class="card-pic">
    <%= link_to image_tag(update.picture.thumb.url), update %>
    </div>
    <div class="card-info">
    <% if update.chapters.any? %>
      <%= link_to "#{update.title}: #{update.chapters.first.title}", [update, update.chapters.first] %>
      <p><%= truncate_html update.chapters.first.content, length: 400 %>
      <% if update.chapters.first.content.length > 400 %>
      <%= link_to "Read More »", [update, update.chapters.first] %></p>
    <% end %>
    <% else %>
      <%= link_to update.title, update %>
      <p>No chapters</p>
    <% end %>
    </div>
    </div>
  </div>
</li> 
<% end %>