<div class="novel-form">
<h2>New Novel</h2>
<%= simple_form_for @novel do |f| %>
  <%= f.input :title, required: true, placeholder: "Coiling Dragon" %>
  <%= f.input :summary, required: true, placeholder: "600 character limit" %>
  <%= f.input :author, required: true %>
  <%= f.input :picture, required: true %>
  <div class="form-actions">
  <%= f.button :submit, "Publish Novel" %>
  </div>
<% end %>
<p class="notice">Any content not written/translated by the user himself can be removed without notice if the original author/translator requests them to be taken down.</p>
</div>