<p>Title: <%= @novel.title %></p>
<p>Author: <%= @novel.author%></p>
<p>Summary: <%= @novel.summary %></p>
<%= image_tag @novel.picture.url %>
<p>Style Rating: <%= rating_for @novel, "style", disable_after_rate: true, imdb_avg: true, star: 10, enable_half: true, half_show: true %></p>
<p>Story Rating: <%= rating_for @novel, "story", disable_after_rate: true, imdb_avg: true, star: 10, enable_half: true, half_show: true %></p>
<p>Character Rating: <%= rating_for @novel, "character", disable_after_rate: true, imdb_avg: true, star: 10, enable_half: true, half_show: true %></p>
<% if user_signed_in? %>
	<% if current_user.voted_for? @novel %>
		<%= link_to "Remove Bookmark", unlike_novel_path(@novel), method: :put  %>
	<% else %>
		<%= link_to "Bookmark", like_novel_path(@novel), method: :put  %>
	<% end %>
<% end %>
<% if current_user == @novel.user || current_user.try(:admin?) %>
  <%= link_to "Delete", @novel , method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "New Chapter", "#{@novel.id}/chapters/new"  %>
  <%= link_to "Edit Novel Information", edit_novel_path  %>
<% end %>

<% if @novel.chapters.any? %>
	<ul>
	<% @novel.chapters.each do |chapter| %>
		<li>
			<%= link_to chapter.title, [@novel, chapter]  %>
			<% if current_user == @novel.user || current_user.try(:admin?) %>
				<%= link_to "delete", [@novel, chapter], method: :delete, data: { confirm: "Are you sure?" }  %>
			<% end %>
		</li>
	<% end %>
	</ul>
<% end %>