<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<% if user_signed_in? && current_user.nightmode? %>
	<div class="nightmode">
	<div class="chapter-show">
	<% if current_user == @chapter.novel.user || current_user.try(:admin?) %>
		<%= link_to "Edit", "#{@chapter.id}/edit" %>
		<%= link_to "Delete", [@chapter.novel, @chapter], method: :delete, data: { confirm: "Are you sure?"} %>
	<% end %>
	<h2><%= @chapter.novel.title %>: <%= @chapter.title %></h2>
	<div class="novel-links">
		<% if @chapter.previous %>
			<%= link_to " « Previous ", [@chapter.novel, @chapter.previous] %>
		<% end %>
		<%= link_to "[ Back to Novel ]", @chapter.novel  %>
		<% if @chapter.next %>
			<%= link_to " Next » ", [@chapter.novel, @chapter.next] %>
		<% end %>
	</div>	
	<p><%= @chapter.content.html_safe %></p>
	<div class="novel-links">
		<% if @chapter.previous %>
			<%= link_to " « Previous ", [@chapter.novel, @chapter.previous] %>
		<% end %>
		<%= link_to "[ Back to Novel ]", @chapter.novel  %>
		<% if @chapter.next %>
			<%= link_to " Next » ", [@chapter.novel, @chapter.next] %>
		<% end %>
	</div>	
</div>
</div>
<% else %>
<div class="chapter-show">
	<% if current_user == @chapter.novel.user || current_user.try(:admin?) %>
		<%= link_to "Edit", "#{@chapter.id}/edit" %>
		<%= link_to "Delete", [@chapter.novel, @chapter], method: :delete, data: { confirm: "Are you sure?"} %>
	<% end %>
	<h2><%= @chapter.novel.title %>: <%= @chapter.title %></h2>
	<div class="novel-links">
		<% if @chapter.previous %>
			<%= link_to " « Previous ", [@chapter.novel, @chapter.previous] %>
		<% end %>
		<%= link_to "[ Back to Novel ]", @chapter.novel  %>
		<% if @chapter.next %>
			<%= link_to " Next » ", [@chapter.novel, @chapter.next] %>
		<% end %>
	</div>	
	<p><%= @chapter.content.html_safe %></p>
	<div class="novel-links">
		<% if @chapter.previous %>
			<%= link_to " « Previous ", [@chapter.novel, @chapter.previous] %>
		<% end %>
		<%= link_to "[ Back to Novel ]", @chapter.novel  %>
		<% if @chapter.next %>
			<%= link_to " Next » ", [@chapter.novel, @chapter.next] %>
		<% end %>
	</div>	
</div>
<% end %>
<div class="chapter-show">
	<button class="show-comments">Load Comments</button>
	<div id="disqus_thread"></div>
    <script type="text/javascript">
      $(document).ready(function() {
		    $('.show-comments').on('click', function(){
	          var disqus_shortname = 'lightnovelarchives'; // Replace this value with *your* username.
		 
	          // ajax request to load the disqus javascript
	          $.ajax({
	                  type: "GET",
	                  url: "http://" + disqus_shortname + ".disqus.com/embed.js",
	                  dataType: "script",
	                  cache: true
	          });
	          // hide the button once comments load
	          $(this).fadeOut();
				    });
				});
    </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>  
</div>
